/* General Styles */
body {
	margin: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    font-family: 'Assistant', sans-serif; /* General font */
    background-color: #F5F6F3; /* Background color */
    padding-left: 1.5in; /* Left padding */
}

.container {
    max-width: 100vw; /* Maximum container width */
    margin: 0 auto; /* Center container horizontally */
    padding: 2vw 1.5in; /* Padding on top and sides */
    text-align: center; /* Center-align text */
}

.navbar {
    margin-top: 5vh; /* Top margin for navbar */
}

.navbar a {
    font-family: "Fb Liddar", sans-serif; /* Font for navbar links */
    font-weight: bold;
    margin: 0 6vw; /* Horizontal margin for navbar links */
    text-decoration: none; /* Remove underline */
    font-size: 2vw; /* Font size of navbar links */
    color: #6D8B85; /* Color of navbar links */
}

.main-title {
    font-size: 2vh; /* Font size of main title */
    color: #1B7895; /* Color of main title */
    text-align: center; /* Center-align main title */
}

.first-line {
    font-family: "Monotype Corsiva", cursive; /* Font for the first line */
    font-size: 8vh; /* Font size of the first line */
    position: relative; /* Relative positioning */
    left: 0vw; /* Adjust left position */
    top: -0.3vw; /* Adjust top position */
}

.second-line {
    font-family: "Fb Liddar", cursive; /* Font for the second line */
    position: relative; /* Relative positioning */
    left: -9.8vw; /* Adjust left position */
    font-size: 8vh; /* Font size of the second line */
	top: -1vw; /* Adjust top position */
}

.section {
    padding: 0.1vw 0vw; /* Padding for sections */
}

.logo {
    position: absolute; /* Absolute positioning */
    top: 0vw; /* Distance from the top */
    left: 0vw; /* Distance from the left */
}

.logo img {
    width: 10vw; /* Width of logo */
    height: auto; /* Maintain aspect ratio */
    margin-top: 0vw; /* Top margin */
    margin-left: 0vw; /* Left margin */
}

.bold-text {
    font-weight: bold; /* Bold font weight */
}


/* Content - Who am I */
#who-am-i {
    text-align: center; /* Center-align text */
    color: black; /* Text color */
    margin-top: -20px; /* Negative top margin */
}

#who-am-i h2 {
    color: #1B7895; /* Color of heading */
    font-family: "Fb Liddar", sans-serif; /* Font family of heading */
    font-size: 6vw; /* Font size of heading */
    margin-bottom: 10px; /* Bottom margin of heading */
}


/* Text Box */

#who-am-i .text-box {
    width: 90vw; /* Width of text box */
    margin: 0 auto; /* Center-align horizontally */
    padding: 20px; /* Padding inside the text box */
    border: 3px solid #8C756A; /* Border color and thickness */
    box-sizing: border-box; /* Include padding and border in width */
    text-align: justify; /* Justify text */
    position: relative; /* Relative positioning */
}

#who-am-i .text-box::before,
#who-am-i .text-box::after {
    content: ""; /* Empty content for pseudo-elements */
    position: absolute; /* Absolute positioning */
    background-color: #8C756A; /* Background color */
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%; /* Height of pseudo-elements */
    z-index: -1; /* Behind text */
    transform-origin: center top; /* Transform origin */
}

#who-am-i .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg); /* Rotate pseudo-element */
}

#who-am-i .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg); /* Rotate pseudo-element */
}

#who-am-i .text-box h2 {
    color: #8C756A; /* Color of heading */
    font-size: 5.5vw; /* Font size of heading */
    text-align: center; /* Center-align text */
}

#who-am-i .text-box p {
    color: black; /* Text color */
    text-align: justify; /* Justify text */
}


/* Add this CSS to style the circle and the image */
.circle {
    width: 30vw; /* Set the width of the circle */
    height: 50vh; /* Set the height of the circle */
    background-color: transparent; /* Set background color */
    border: 5px solid #8C756A; /* Set border color and thickness */
    border-radius: 50%; /* Make it a circle */
    position: absolute; /* Positioning */
    left: 30%; /* Position it in the center horizontally */
    /*top: 108%; /* Position it in the center vertically */
    transform: translate(-50%, -50%); /* Center it both horizontally and vertically */
    overflow: hidden; /* Hide overflow */
}

.circle img {
    width: 100%; /* Ensure the image fills the circle */
    height: 100%; /* Ensure the image fills the circle */
    object-fit: cover; /* Maintain aspect ratio and cover the circle */
}



/* Content - Therapeutic Puppies */
#therapeutic-puppies {
    text-align: center; /* Center-align text */
    color: black; /* Text color */
    margin-top: -3vh; /* Negative top margin */
}

#therapeutic-puppies h2 {
    color: #1B7895; /* Color of heading */
    font-family: "Fb Liddar", sans-serif; /* Font family of heading */
    font-size: 5.5vw; /* Font size of heading */
    margin-bottom: 0.5em; /* Bottom margin of heading */
}

#therapeutic-puppies .text-box {
    width: 90vw; /* Width of text box */
    margin: 0 auto; /* Center-align horizontally */
    padding: 20px; /* Padding inside the text box */
    border: 3px solid #8C756A; /* Border color and thickness */
    box-sizing: border-box; /* Include padding and border in width */
    text-align: justify; /* Justify text */
    position: relative; /* Relative positioning */
}

#therapeutic-puppies .text-box::before,
#therapeutic-puppies .text-box::after {
    content: ""; /* Empty content for pseudo-elements */
    position: absolute; /* Absolute positioning */
    background-color: #8C756A; /* Background color */
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%; /* Height of pseudo-elements */
    z-index: -1; /* Behind text */
    transform-origin: center top; /* Transform origin */
}

#therapeutic-puppies .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg); /* Rotate pseudo-element */
}

#therapeutic-puppies .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg); /* Rotate pseudo-element */
}

#therapeutic-puppies .text-box h2 {
    color: #8C756A; /* Color of heading */
    font-size: 5.5vw; /* Font size of heading */
    text-align: center; /* Center-align text */
}

#therapeutic-puppies .text-box p {
    color: black; /* Text color */
    text-align: justify; /* Justify text */
}



/* Content - Our Services */
#our-services {
    text-align: center; /* Center-align text */
    color: black; /* Text color */
    margin-top: -20px; /* Negative top margin */
}

#our-services h2 {
    text-align: center; /* Center-align heading */
    color: #1B7895; /* Color of heading */
    font-family: "Fb Liddar", bold; /* Font family of heading */
    font-size: 50px; /* Font size of heading */
    position: relative; /* Relative positioning */
    left: -1cm; /* Adjust left position */
    margin-bottom: 10px; /* Bottom margin of heading */
}

#our-services .text-box-container {
    width: 90vw; /* Width of text box container */
    display: flex; /* Flexbox layout */
    justify-content: space-between; /* Space between items */
    margin-top: 20px; /* Top margin */
    padding-left: 1.5in; /* Left padding */
    margin: 0 auto; /* Center-align horizontally */
}

#our-services .text-box {
    width: 50vw; /* Width of text box */
    height: auto; /* Auto height */
    position: relative; /* Relative positioning */
    overflow: hidden; /* Hide overflow */
    padding: 20px; /* Padding inside the text box */
    border: 3px solid #8C756A; /* Border color and thickness */
    box-sizing: border-box; /* Include padding and border in width */
    margin-top: 20px; /* Top margin */
    left: -1.3in; /* Adjust left position */
}

#our-services .text-box:first-child {
    left: -1.2in; /* Adjust left position for first child */
}

#our-services .text-box::before,
#our-services .text-box::after {
    content: ""; /* Adds empty content for decorative frames */
    position: absolute; /* Positions frames absolutely within the text box */
    border: inherit; /* Inherits border properties from the text box */
    top: 5px; /* Sets top position for the frames */
    right: 5px; /* Sets right position for the frames */
    bottom: 5px; /* Sets bottom position for the frames */
    left: 5px; /* Sets left position for the frames */
}

#our-services .text-box::after {
    top: 7px; /* Adjusts top position for the second frame */
    right: 7px; /* Adjusts right position for the second frame */
    bottom: 7px; /* Adjusts bottom position for the second frame */
    left: 7px; /* Adjusts left position for the second frame */
    transform: rotate(2deg); /* Applies a slight rotation to the second frame */
}

#our-services .text-box {
    width: 50vw; /* Width of text box */
    height: auto; /* Auto height */
    position: relative; /* Relative positioning */
    overflow: hidden; /* Hide overflow */
    padding: 20px; /* Padding inside the text box */
    border: 3px solid #8C756A; /* Border color and thickness */
    box-sizing: border-box; /* Include padding and border in width */
    margin-top: 20px; /* Top margin */
    left: -1.3in; /* Adjust left position */
}

#our-services .text-box:first-child {
    left: -1.2in; /* Adjust left position for first child */
}


#image-carousel {
    text-align: center;
    margin-top: 50px;
}

.carousel {
    max-width: 50%; /* Adjust maximum width as needed */
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid  #8C756A;
    border-radius: 20px;
    position: relative; /* Ensure this is set to relative */
    height: 50vh; /* Adjust height of carousel frame */
    left: -50px; /* Adjust this value to move the carousel to the left */
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none; /* Hide all images by default */
}

.carousel img.active {
    display: block; /* Display only the image with 'active' class */
}

/* Content - Contact Us */
#contact-us {
    text-align: center; /* Center-align text */
    color: black; /* Text color */
    margin-top: -20px; /* Negative top margin */
}

#contact-us h2 {
    color: #1B7895; /* Color of heading */
    font-family: "Fb Liddar", sans-serif; /* Font family of heading */
    font-size: 6vw; /* Font size of heading */
    margin-bottom: 10px; /* Bottom margin of heading */
}


/*icons*/
#contact-us .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: -2vw 10%;
}

#contact-us .contact-info a {
    font-family: 'Assistant', sans-serif;
    font-size: 26px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#contact-us .contact-info a img {
    width: 26px;
    height: 26px;
    margin-right: 8px;
}



/*form*/
#contact-us .text-box {
    width: 12vw;
    height: auto;
    position: Center;
    overflow: hidden;
    /*padding: 20px;*/
    border: 3px solid #8C756A;
    box-sizing: border-box;
    margin: 0 auto;
}
/*
#contact-us .text-box::before,
#contact-us .text-box::after {
    content: "";
    position: absolute;
    border: inherit;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
}

#contact-us .text-box::after {
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 7px;
    transform: rotate(2deg);
}*/

#contact-us .text-box h2 {
    color: #8C756A;
    text-align: center;
    font-family: "Fb Liddar", bold;
    font-size: 5.5vw;
	color: #6D8B85;
}

#contact-us .text-box p {
    color: black;
    text-align: justify;
}





/* Contact form styles */
.contact-form {
    width: 50vw; /* Set width of form */
    max-width: 50vw; /* Limit maximum width */
    /*margin: 9vw auto;*/ /* Center the form horizontally with top margin */
    font-family: 'Assistant', sans-serif; /* General font */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    margin-bottom: 15px;
    width: 40vw;
}

.form-group label {
    margin-bottom: 5px;
    color: #6D8B85;
    font-weight: bold;
    text-align: right; /* Align label text to the right */
    width: 100%; /* Ensure labels take full width */
}

.contact-input {
    width: 70%; /* Adjust width of input fields */
    padding: 10px;
    font-size: 1em;
    border: 2px solid #DBEFE1;
    border-radius: 5px;
    direction: rtl; /* Set text direction to right-to-left */
    margin-bottom: 10px; /* Add margin below input fields */
}

.contact-input:focus {
    border-color: #666;
}

textarea.contact-input {
    width: 70%; /* Adjust width of textarea */
    height: 10vh;
    resize: vertical;
    direction: rtl; /* Set text direction to right-to-left */
}


.contact-button {
    padding: 1vw 1vh;
	font-family: 'Assistant', sans-serif;
    font-size: 1.5em;
    color: #fff;
    background-color: #6D8B85;
    border: none; /* Remove border to ensure a cleaner look */
	width: 20%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5vh; /* Add margin to separate from form */
}

.contact-button:hover {
    background-color: #575757;
}


.success-message {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #6D8B85;
    border-radius: 5px;
    background-color: #DBEFE1;
    color: #6D8B85;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2em;
}



header {
    margin-top: 0;
}

footer {
     position: fixed; /* Fixed position */
    left: 0; /* Distance from the left */
    bottom: 0; /* Distance from the bottom */
    width: 100vw; /* Full viewport width */
    background-color: #6D8B85; /* Background color */
    color: white; /* Text color */
    text-align: center; /* Center-align text */
    padding: 10px; /* Padding inside the footer */
    font-size: 2vw; /* Font size of footer text */
}


.footer p {
    margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    body {
        padding-left: 0.5in;
    }

    .container {
        padding: 20px 1in;
    }

    .navbar a {
        margin: 0 30px;
        font-size: 30px;
    }

    .main-title {
        font-size: 28px;
    }

    .first-line {
        font-size: 80px;
        left: 0;
    }

    .second-line {
        font-size: 90px;
        left: -50px;
    }

    #who-am-i h2,
    #therapeutic-puppies h2,
    #our-services h2,
    #contact-us h2 {
        font-size: 50px;
        left: 0;
    }

    .text-box {
        width: 100%;
        left: 0;
    }

    .circle {
        width: 30vw;
        height: 50vh;
        top: 100%;
    }

    .service-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .service-box img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .text-box::before, .text-box::after {
        display: none;
    }
}
/* Mobile Styles */
@media (max-width: 768px) {
    body {
        padding-left: 0;
    }

    .container {
        padding: 5vw;
    }

    .navbar {
        margin-top: 20px;
    }

    .navbar a {
        margin: 0 3vw;
        font-size: 4vw;
    }

    .main-title {
        font-size: 4vw;
    }

    .first-line {
        font-size: 6vw;
    }

    .second-line {
        font-size: 6vw;
        left: 0;
    }

    .logo img {
        width: 20vw;
        margin-left: 0;
    }

    .text-box {
        width: 90%;
        margin: 0 auto;
        left: 0;
    }

    #therapeutic-puppies .text-box {
        width: 90%;
        left: 0;
    }

    #our-services .text-box-container {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    #our-services .text-box {
        width: 90%;
        left: 0;
        margin-top: 20px;
    }

    .circle {
        width: 80vw;
        height: auto;
        left: 10%;
        margin-top: 20px;
    }

    .carousel {
        max-width: 90%;
        left: 0;
    }

    .text-box input[type="text"],
    .text-box input[type="email"],
    .text-box input[type="submit"] {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .navbar a {
        font-size: 18px;
        margin: 0 10px;
    }

    .main-title {
        font-size: 16px;
    }

    .first-line,
    .second-line {
        font-size: 40px;
    }

    #who-am-i h2,
    #therapeutic-puppies h2,
    #our-services h2,
    #contact-us h2 {
        font-size: 30px;
    }

    .text-box {
        padding: 5px;
		width: 100vw;
    }

    .service-box {
        margin-bottom: 20px;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .service-box img {
        width: 150px;
    }

    .contact-form {
        width: 100%;
    }

    .form-group {
        width: 100%;
    }

    .contact-input {
        width: 100%;
    }

    textarea.contact-input {
        width: 100%;
    }

    .contact-button {
        width: 100%;
    }
}
