/* General Styles */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Assistant', sans-serif; /* general font */
    background-color: #F5F6F3; /* background color */
    padding-left: 1.5in; /* Add padding to the left side */
}

.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2vw 1.5in; /* Add padding of 2vw on top and bottom, 1.5 inches on left and right */
    text-align: center;
}

.navbar {
    margin-top: 5vh; /* Adjust margin-top for the navbar */
}

.navbar a {
    font-family: "Fb Liddar", sans-serif;
    font-weight: bold;
    margin: 0 6vw; /* Increase the horizontal margin to 6vw */
    text-decoration: none;
    font-size: 2vw;
    color: #6D8B85;
}

.main-title {
    font-size: 2vh; /* Decreased font size */
    color: #1B7895; /* Set the color of the main title */
    text-align: center; /* Center-align the title */
}

.first-line {
    font-family: "Monotype Corsiva", cursive; /* Set font for the first line */
    font-size: 8vh; /* Decreased font size */
    position: relative; /* Set relative position for absolute positioning */
    left: 0vw; /* Adjust left position */
    top: -0.3vw; /* Move the text up by 0.3vw */
}

.second-line {
    font-family: "Fb Liddar", cursive; /* Set font for the second line */
    position: relative; /* Set relative position for absolute positioning */
    left: -9.8vw; /* Adjust left position */
    font-size: 8vh; /* Restore the original font size */
    top: -1vw; /* Move the text up by 1vw */
}

.section {
    padding: 0.1vw 0vw; /* Decrease padding */
}

.logo {
    position: absolute; /* Positioning */
    top: 0vw; /* Distance from the top */
    left: 0vw; /* Distance from the left */
}

.logo img {
    width: 10vw; /* Set the width of the logo */
    height: auto; /* Maintain aspect ratio */
    margin-top: 0vw; /* Set the top margin */
    margin-left: 0vw; /* Set the left margin */
}

.bold-text {
    font-weight: bold;
}

/* Content - Who am I */
#who-am-i {
    text-align: center;
    color: black;
    margin-top: -20px;
}

#who-am-i h2 {
    color: #1B7895;
    font-family: "Fb Liddar", sans-serif;
    font-size: 6vw;
    margin-bottom: 10px;
}

/* Text Box */
#who-am-i .text-box {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

#who-am-i .text-box::before,
#who-am-i .text-box::after {
    content: "";
    position: absolute;
    background-color: #8C756A;
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%;
    z-index: -1;
    transform-origin: center top;
}

#who-am-i .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg);
}

#who-am-i .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg);
}

#who-am-i .text-box h2 {
    color: #8C756A;
    font-size: 5.5vw;
    text-align: center;
}

#who-am-i .text-box p {
    color: black;
    text-align: justify;
}

/* Circle */
.circle {
    width: 30vw; /* Set the width of the circle */
    height: 50vh; /* Set the height of the circle */
    background-color: transparent; /* Set background color */
    border: 5px solid #8C756A; /* Set border color and thickness */
    border-radius: 50%; /* Make it a circle */
    position: absolute; /* Positioning */
    left: 30%; /* Position it in the center horizontally */
    transform: translate(-50%, -50%); /* Center it both horizontally and vertically */
    overflow: hidden; /* Hide overflow */
}

.circle img {
    width: 100%; /* Ensure the image fills the circle */
    height: 100%; /* Ensure the image fills the circle */
    object-fit: cover; /* Maintain aspect ratio and cover the circle */
}


/* Content - Therapeutic Puppies */
#therapeutic-puppies {
    text-align: center;
    color: black;
    margin-top: -20px;
}

#therapeutic-puppies h2 {
    color: #1B7895;
    font-family: "Fb Liddar", sans-serif;
    font-size: 5.5vw;
}

#therapeutic-puppies .text-box {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

#therapeutic-puppies .text-box::before,
#therapeutic-puppies .text-box::after {
    content: "";
    position: absolute;
    background-color: #8C756A;
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%;
    z-index: -1;
    transform-origin: center top;
}

#therapeutic-puppies .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg);
}

#therapeutic-puppies .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg);
}

#therapeutic-puppies .text-box h2 {
    color: #8C756A;
    font-size: 5.5vw;
    text-align: center;
}

#therapeutic-puppies .text-box p {
    color: black;
    text-align: justify;
}


/* Content - Our Services */
#our-services {
    text-align: center; /* Centers the section content */
    color: black; /* Sets text color */
    margin-top: -20px; /* Adjusts margin top to position the section */
}

#our-services h2 {
    text-align: center; /* Centers the title */
    color: #1B7895; /* Sets title color */
    font-family: "Fb Liddar", sans-serif; /* Sets font for the title */
    font-size: 5.5vw; /* Sets font size for the title */
    position: relative; /* Positions the title relative to its normal position */
    left: -1cm; /* Moves the title slightly to the left */
    margin-bottom: -3vh; /* Reduces the bottom margin to bring the title closer to the content below */
}

#our-services .text-box-container {
    width: 90vw; /* Sets the width of the container */
    display: flex; /* Uses flexbox for layout */
    justify-content: center; /* Centers the text boxes horizontally */
    align-items: flex-start; /* Aligns items at the start of the flex container */
    margin: 0 auto; /* Centers the container itself */
}

#our-services .text-box {
    width: 40vw; /* Sets width of text box */
    height: auto; /* Allows height to adjust to content */
    position: relative; /* Positions text box relative to its normal position */
    overflow: hidden; /* Hides overflow content */
    padding: 20px; /* Adds padding inside the text box */
    border: 3px solid #8C756A; /* Sets border color and thickness */
    box-sizing: border-box; /* Ensures padding and border are included in total width and height */
    margin-top: 20px; /* Adds top margin */
}

#our-services .text-box:first-child {
    margin-right: 20px; /* Adds space between the two text boxes */
}

#our-services .text-box::before,
#our-services .text-box::after {
    content: ""; /* Adds empty content for decorative frames */
    position: absolute; /* Positions frames absolutely within the text box */
    border: 3px solid #8C756A; /* Sets border color and thickness */
    box-sizing: border-box; /* Ensures padding and border are included in total width and height */
    width: calc(100% + 6px); /* Sets width to cover the entire box plus border */
    height: calc(100% + 6px); /* Sets height to cover the entire box plus border */
    z-index: -1; /* Ensures frames are behind text */
}

#our-services .text-box::before {
    top: -3px; /* Positions frame above text box */
    left: -3px; /* Positions frame to left of text box */
}

#our-services .text-box::after {
    bottom: -3px; /* Positions frame below text box */
    right: -3px; /* Positions frame to right of text box */
}

/* Contact Form */
.contact-form {
    width: 70%; /* Adjusted width of the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding inside the form */
    background-color: #f2f2f2; /* Light gray background color */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
}

.contact-form h2 {
    text-align: center; /* Center align the form title */
    color: #333; /* Dark gray color for the title */
    margin-bottom: 20px; /* Add space below the title */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%; /* Make input fields and textarea full width */
    padding: 10px; /* Add padding inside input fields and textarea */
    margin-bottom: 15px; /* Add space between fields */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 3px; /* Rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in total width */
}

.contact-form textarea {
    height: 150px; /* Set height for textarea */
}

.contact-form input[type="submit"] {
    background-color: #4CAF50; /* Green background color for submit button */
    color: white; /* White text color */
    padding: 12px 20px; /* Add padding inside the button */
    border: none; /* Remove border */
    border-radius: 3px; /* Rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    font-size: 16px; /* Increase font size */
}

.contact-form input[type="submit"]:hover {
    background-color: #45a049; /* Darker green background color on hover */
}


.success-message {
    text-align: center; /* Center align text */
    margin-top: 20px; /* Add top margin */
    padding: 10px; /* Add padding */
    border: 2px solid #6D8B85; /* Set border */
    border-radius: 5px; /* Set border radius */
    background-color: #DBEFE1; /* Set background color */
    color: #6D8B85; /* Set text color */
    font-family: 'Assistant', sans-serif; /* Set font family */
    font-size: 1.2em; /* Set font size */
}

header {
    margin-top: 0; /* Remove top margin */
}


footer {
    text-align: center;
    padding-top: 20px;
    font-size: 1em;
    color: #6D8B85;
}


.footer p {
    margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    body {
        padding-left: 0.5in;
    }

    .container {
        padding: 20px 1in;
    }

    .navbar a {
        margin: 0 30px;
        font-size: 30px;
    }

    .main-title {
        font-size: 28px;
    }

    .first-line {
        font-size: 80px;
        left: 0;
    }

    .second-line {
        font-size: 90px;
        left: -50px;
    }

    #who-am-i h2,
    #therapeutic-puppies h2,
    #our-services h2,
    #contact-us h2 {
        font-size: 50px;
        left: 0;
    }

    .text-box {
        width: 100%;
        left: 0;
    }

    .circle {
        width: 30vw;
        height: 50vh;
        top: 100%;
    }

    .service-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .service-box img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .text-box::before, .text-box::after {
        display: none;
    }
}
/* Mobile Styles */
@media (max-width: 768px) {
    body {
        padding-left: 0;
    }

    .container {
        padding: 5vw;
    }

    .navbar {
        margin-top: 20px;
    }

    .navbar a {
        margin: 0 3vw;
        font-size: 4vw;
    }

    .main-title {
        font-size: 4vw;
    }

    .first-line {
        font-size: 6vw;
    }

    .second-line {
        font-size: 6vw;
        left: 0;
    }

    .logo img {
        width: 20vw;
        margin-left: 0;
    }

    .text-box {
        width: 90%;
        margin: 0 auto;
        left: 0;
    }

    #therapeutic-puppies .text-box {
        width: 90%;
        left: 0;
    }

    #our-services .text-box-container {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    #our-services .text-box {
        width: 90%;
        left: 0;
        margin-top: 20px;
    }

    .circle {
        width: 80vw;
        height: auto;
        left: 10%;
        margin-top: 20px;
    }

    .carousel {
        max-width: 90%;
        left: 0;
    }

    .text-box input[type="text"],
    .text-box input[type="email"],
    .text-box input[type="submit"] {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .navbar a {
        font-size: 18px;
        margin: 0 10px;
    }

    .main-title {
        font-size: 16px;
    }

    .first-line,
    .second-line {
        font-size: 40px;
    }

    #who-am-i h2,
    #therapeutic-puppies h2,
    #our-services h2,
    #contact-us h2 {
        font-size: 30px;
    }

    .text-box {
        padding: 5px;
		width: 100vw;
    }

    .service-box {
        margin-bottom: 20px;
    }

    .circle {
        width: 150px;
        height: 150px;
    }

    .service-box img {
        width: 150px;
    }

    .contact-form {
        width: 100%;
    }

    .form-group {
        width: 100%;
    }

    .contact-input {
        width: 100%;
    }

    textarea.contact-input {
        width: 100%;
    }

    .contact-button {
        width: 100%;
    }
}
