/* General Styles */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Assistant', sans-serif;
    background-color: #F5F6F3;
    padding-left: 1.5in;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2vw 1.5in;
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
}

.navbar a {
    font-family: "Levenim MT";
    font-weight: bold;
    text-decoration: none;
    font-size: 2vw;
    color: #6D8B85;
    padding: 10px;
    transition: color 0.3s;
}

/*.main-title {
    /*font-size: 2vh; /* Decreased font size */
    /*color: #1B7895; /* Set the color of the main title */
    /*text-align: center; /* Center-align the title */
/*}*/

/* title of the page */
/*.first-line {
   /* font-family: "Bernard MT Condensed", bold; /* Set font family for the first line */
    /*font-size: 8vh; /* Decreased font size */
    /*font-weight: bold; /* Make the first line bold */
    /*position: relative; /* Set relative position for absolute positioning */
    /*left: 0vw; /* Adjust left position */
    /*top: -0.3vw;  /* Move the text up by 0.3vw */ 
/*} 

.second-line {
    font-family: "Fb Liddar", cursive; /* Set font family for the second line */
  /*  font-size: 8vh; /* Restore the original font size */
    /*position: relative; /* Set relative position for absolute positioning */
    /*left: -9.8vw; /* Adjust left position */
    /*top: -1vw; /* Move the text up by 1vw */
/*}*/
 

.section {
    padding: 0.1vw 0vw; /* Decrease padding */
}

.logo {
    margin-right: auto;
    margin-top: -90px; /* Adjusted position to raise the logo slightly */
}

.logo img {
    width: 45vw; /* Keep the width proportional to the viewport */
    height: auto;
    display: block; /* Ensure the logo image behaves as a block element */
    margin-left: auto; /* Center the logo horizontally */
    margin-right: auto;
}

.bold-text {
    font-weight: bold;
}

/* Content - Who am I */
#who-am-i {
    text-align: center;
    color: black;
    margin-top: -20px;
}

#who-am-i h2 {
    color: #1B7895;
    font-family: "Levenim MT";
    font-size: 6vw;
    margin-bottom: 10px;
}

/* Text Box */
#who-am-i .text-box {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

#who-am-i .text-box::before,
#who-am-i .text-box::after {
    content: "";
    position: absolute;
    background-color: #8C756A;
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%;
    z-index: -1;
    transform-origin: center top;
}

#who-am-i .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg);
}

#who-am-i .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg);
}

#who-am-i .text-box h2 {
    color: #8C756A;
    font-size: 5.5vw;
    text-align: center;
}

#who-am-i .text-box p {
    color: black;
    text-align: justify;
}

.rectangle {
    width: 80vw; /* Adjust width to be slightly narrower than the text box */
    max-width: 90%; /* Ensure it doesn't exceed 90% of the viewport width */
    height: 30vh; /* Adjust height */
    background-color: transparent; /* Set background color */
    border: 3px solid #8C756A; /* Set border color and thickness */
    border-radius: 10px; /* Adjust border radius for rounded corners if needed */
    position: relative; /* Positioning */
    margin: 0 auto; /* Center horizontally with top and bottom margin */
    overflow: hidden; /* Hide overflow */
}

.rectangle img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}



/* Content - Therapeutic Puppies */
#therapeutic-puppies {
    text-align: center;
    color: black;
    margin-top: 50px; /* Increase upper distance between title and rectangle/image */
}

#therapeutic-puppies .rectangle {
    margin-top: 30px; /* Increase distance between rectangle/image and text box */
}

#therapeutic-puppies h2 {
    color: #1B7895;
    font-family: "Levenim MT";
    font-size: 5.5vw;
}

#therapeutic-puppies .text-box {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

#therapeutic-puppies .text-box::before,
#therapeutic-puppies .text-box::after {
    content: "";
    position: absolute;
    background-color: #8C756A;
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%;
    z-index: -1;
    transform-origin: center top;
}

#therapeutic-puppies .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg);
}

#therapeutic-puppies .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg);
}

#therapeutic-puppies .text-box h2 {
    color: #8C756A;
    font-size: 5.5vw;
    text-align: center;
}

#therapeutic-puppies .text-box p {
    color: black;
    text-align: justify;
}

/* Content - Our Services */
#our-services {
    text-align: center;
    color: black;
    margin-top: 90px; /* Increase upper distance between title and text box */
}

#our-services .text-box-container {
    margin-top: 30px; /* Increase distance between text box and gallery */
}

#our-services h2 {
    text-align: center;
    color: #1B7895;
    font-family: "Levenim MT";
    font-size: 5.5vw;
    position: relative;
    left: -1cm;
    margin-bottom: -3vh;
}

#our-services .text-box-container {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
}

#our-services .text-box {
    width: 40vw;
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    margin-top: 20px;
}

#our-services .text-box:first-child {
    margin-right: 20px;
}

#our-services .text-box::before,
#our-services .text-box::after {
    content: "";
    position: absolute;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
}

#our-services .text-box::before {
    top: -3px;
    left: -3px;
}

#our-services .text-box::after {
    bottom: -3px;
    right: -3px;
}

#our-services .text-box h2 {
    color: #6D8B85;
    font-size: 5.5vw;
    text-align: center;
    position: relative;
    bottom: 0.5cm;
    margin: 0;
}

#our-services .text-box p {
    color: black;
    text-align: justify;
    position: relative;
    top: -0.5cm;
    margin: 0;
}

/* Content - Individual Sessions */
#individual-sessions {
    text-align: center;
    color: black;
    margin-top: 100px; /* Increased upper distance between title and text box */
}

#individual-sessions .text-box {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

#individual-sessions .text-box::before,
#individual-sessions .text-box::after {
    content: "";
    position: absolute;
    background-color: #8C756A;
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%;
    z-index: -1;
    transform-origin: center top;
}

#individual-sessions .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg);
}

#individual-sessions .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg);
}

#individual-sessions .text-box h2 {
    color: #8C756A;
    font-size: 5.5vw;
    text-align: center;
    margin-top: 20px; /* Added margin-top to create space between title and text box */
}

#individual-sessions .text-box p {
    color: black;
    text-align: justify;
}

/* Content - Group Sessions */
#group-sessions {
    text-align: center;
    color: black;
    margin-top: 100px; /* Increased upper distance between title and text box */
}

#group-sessions .text-box {
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #8C756A;
    box-sizing: border-box;
    text-align: justify;
    position: relative;
}

#group-sessions .text-box::before,
#group-sessions .text-box::after {
    content: "";
    position: absolute;
    background-color: #8C756A;
    width: calc(100% + 6px); /* Adjusted width to cover the border */
    height: 50%;
    z-index: -1;
    transform-origin: center top;
}

#group-sessions .text-box::before {
    top: -3px; /* Move up by half of the border width */
    left: -3px; /* Move left by half of the border width */
    transform: rotate(-2deg);
}

#group-sessions .text-box::after {
    bottom: -3px; /* Move down by half of the border width */
    right: -3px; /* Move right by half of the border width */
    transform: rotate(2deg);
}

#group-sessions .text-box h2 {
    color: #8C756A;
    font-size: 5.5vw;
    text-align: center;
    margin-top: 20px; /* Added margin-top to create space between title and text box */
}

#group-sessions .text-box p {
    color: black;
    text-align: justify;
}

/* Carousel */
#image-carousel {
    text-align: center;
    margin-top: 50px;
}

.carousel {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #8C756A;
    border-radius: 20px;
    position: relative;
    aspect-ratio: 4 / 3; /* Ensure the carousel maintains a 4:3 aspect ratio */
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire carousel area without empty parts */
    display: none;
}

.carousel img.active {
    display: block;
}


/* Content - Contact Us */
#contact-us {
    text-align: center;
    color: black;
    margin-top: 90px; /* Increase upper distance between title and gallery */
}

#contact-us #image-carousel {
    margin-top: 30px; /* Increase distance between gallery and contact form */
}

#contact-us h2 {
    text-align: center; /* Align heading text to the right */
    color: #1B7895; /* Set heading text color */
    font-family: "Levenim MT"; /* Set font family and weight */
    font-size: 6.5vh; /* Set font size */
    position: relative; /* Set position to relative */
    margin-bottom: 10px; /* Reduce the bottom margin to bring the title closer to the content below */
}

/* Icons */
#contact-us .contact-info {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly with space between them */
    align-items: center; /* Align items vertically centered */
    margin-top: 20px; /* Add top margin */
    padding: 0 10%; /* Add padding on left and right */
}

#contact-us .contact-info a {
    font-family: 'Assistant', sans-serif; /* Set font family */
    font-size: 20px; /* Set font size */
    color: black; /* Set text color */
    text-decoration: none; /* Remove text underline */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically centered */
}

#contact-us .contact-info a img {
    width: 25px; /* Set image width */
    height: 25px; /* Set image height */
    margin-right: 8px; /* Add right margin */
}

/* Form */
#contact-us .text-box {
    width: 50hw; /* Set text box width to 90% of the container width */
    height: auto; /* Set text box height to auto */
    overflow: hidden; /* Hide overflow content */
    border: 3px solid #8C756A; /* Set border */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0 auto; /* Center align text box */
	margin-top: 30px;
}

#contact-us .text-box h2 {
    color: #6D8B85; /* Set heading text color */
    text-align: center; /* Center align heading text */
    font-family: "Levenim MT"; /* Set font family and weight */
    font-size: 5.5vw; /* Set font size */
}

#contact-us .text-box p {
    color: black; /* Set paragraph text color */
    text-align: justify; /* Justify text alignment */
}
/* Contact form styles */
.contact-form {
    width: 30hw; /* Set width of form */
    max-width: 30hw; /* Limit maximum width */
    /margin: 9vw auto;/ /* Center the form horizontally with top margin */
    font-family: 'Assistant', sans-serif; /* General font */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    margin-bottom: 15px;
    width: 30hw;
}

.form-group label {
    margin-bottom: 5px;
    color: #6D8B85;
    font-weight: bold;
    text-align: right; /* Align label text to the right */
    width: 30hw; /* Ensure labels take full width */
}

.contact-input {
    width: 70%; /* Adjust width of input fields */
    padding: 10px;
    font-size: 1em;
    border: 2px solid #DBEFE1;
    border-radius: 5px;
    direction: rtl; /* Set text direction to right-to-left */
    margin-bottom: 10px; /* Add margin below input fields */
}

.contact-input:focus {
    border-color: #666;
}

textarea.contact-input {
    width: 30hw; /* Adjust width of textarea */
    height: 10vh;
    resize: vertical;
    direction: rtl; /* Set text direction to right-to-left */
}
.contact-button {
    padding: 1vw 1vh;
	font-family: 'Assistant', sans-serif;
    font-size: 1.5em;
    color: #fff;
    background-color: #6D8B85;
    border: none; /* Remove border to ensure a cleaner look */
	width: 30hw;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5vh; /* Add margin to separate from form */
}

.contact-button:hover {
    background-color: #575757;
}


.success-message {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #6D8B85;
    border-radius: 5px;
    background-color: #DBEFE1;
    color: #6D8B85;
    font-family: 'Assistant', sans-serif;
    font-size: 1.2em;
}

.contact-button:hover {
    background-color: #575757; /* Change background color on hover */
}

.success-message {
    text-align: center; /* Center align text */
    margin-top: 20px; /* Add top margin */
    padding: 10px; /* Add padding */
    border: 2px solid #6D8B85; /* Set border */
    border-radius: 5px; /* Set border radius */
    background-color: #DBEFE1; /* Set background color */
    color: #6D8B85; /* Set text color */
    font-family: 'Assistant', sans-serif; /* Set font family */
    font-size: 1.2em; /* Set font size */
}

header {
    margin-top: 0; /* Remove top margin */
}


footer {
    text-align: center;
    padding-top: 20px;
    font-size: 1em;
    color: #6D8B85;
}


.footer p {
    margin: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    body {
        padding-left: 0.5in;
    }

    .container {
        padding: 20px 1in;
    }

     .navbar a {
        font-size: 2.5vw;
    }

    /*.main-title {
        font-size: 28px;
    }

    .first-line {
        font-size: 80px;
        left: 0;
    }

    .second-line {
        font-size: 90px;
        left: -50px;
    }*/

    #who-am-i h2,
    #therapeutic-puppies h2,
    #our-services h2,
    #contact-us h2 {
        font-size: 50px;
        left: 0;
    }
	
    #therapeutic-puppies {
        margin-top: 40px; /* Adjusted for medium screens */
    }

    #therapeutic-puppies .rectangle {
        margin-top: 25px; /* Adjusted for medium screens */
    }
    .text-box {
        width: 100%;
        left: 0;
    }

     .rectangle {
        width: 70vw; /* Adjust width for medium screens */
        height: 25vh; /* Adjust height for medium screens */
        margin: 10px auto; /* Center the rectangle horizontally with top and bottom margin */
    }
	 #our-services {
        margin-top: 40px; /* Adjusted for medium screens */
    }

    #our-services .text-box-container {
        margin-top: 25px; /* Adjusted for medium screens */
    }
	
    .service-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .service-box img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .text-box::before, .text-box::after {
        display: none;
    }
	
	 .carousel {
        max-width: 80%;
    }
	
	 #contact-us {
        margin-top: 40px; /* Adjusted for medium screens */
    }

    #contact-us #image-carousel {
        margin-top: 25px; /* Adjusted for medium screens */
    }
}


/* Mobile Styles */
@media (max-width: 768px) {
   body {
        padding-left: 0;
    }

    .container {
        padding: 5vw;
    }

    .navbar {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        order: 1;
        margin-top: -100px; /* Adjust raised position for smaller screens */
        margin-bottom: 10px;
    }

    .navbar a {
        flex: 1 0 100%;
        margin: 5px 0;
        text-align: center;
    }

    .navbar a:nth-child(4) {
        margin-top: 10px;
    }
	
   /* .main-title {
        font-size: 4vw;
    }

    .first-line {
        font-size: 6vw;
    }

    .second-line {
        font-size: 6vw;
        left: 0;
    }*/

    /*.logo img {
        width: 20vw;
        margin-left: 0;
    } */

     .text-box {
        width: 90%;
        margin: 20px auto; /* Create space between text boxes and headings */
        left: 0;
    }

    #therapeutic-puppies {
        margin-top: 30px; /* Adjusted for smaller screens */
    }

    #therapeutic-puppies .rectangle {
        margin-top: 20px; /* Adjusted for smaller screens */
    }

    #therapeutic-puppies .text-box {
        width: 90%;
        left: 0;
    }

    #our-services {
        margin-top: 30px; /* Adjusted for smaller screens */
    }

    #our-services h2 {
        font-size: 6vw;
    }

    #our-services .text-box-container {
        margin-top: 20px; /* Adjusted for smaller screens */
    }

  #our-services .text-box {
        width: 80vw;
    }

    #our-services .text-box h2 {
        font-size: 6vw;
    }

    #individual-sessions .text-box,
    #group-sessions .text-box {
        width: 80vw;
    }

    #individual-sessions .text-box h2,
    #group-sessions .text-box h2 {
        font-size: 6vw;
    }

    #our-services .text-box:first-child {
        margin-right: 10px;
    }

    .carousel {
        max-width: 95%;
        border-width: 4px;
    }

    .rectangle {
        width: 70vw; /* Adjust width for small screens */
        height: 25vh; /* Adjust height for small screens */
        margin: 15px auto; /* Center the rectangle horizontally with top and bottom margin */
        left: 0; /* Ensure it's centered */
    }

    .rectangle img {
        width: 100%; /* Ensure the image fills the rectangle */
        height: 100%; /* Ensure the image fills the rectangle */
        object-fit: cover; /* Maintain aspect ratio */
    }

    #contact-us {
        margin-top: 30px; /* Adjusted for smaller screens */
    }

    #contact-us #image-carousel {
        margin-top: 20px; /* Adjusted for smaller screens */
    }

    .text-box input[type="text"],
    .text-box input[type="email"],
    .text-box input[type="submit"] {
        width: 90%;
    }
}


@media (max-width: 480px) {
     .navbar a {
        font-size: 18px;
        padding: 8px;
    }

    .logo img {
        width: 70vw; /* Adjust width for smaller screens */
    }

	
   /* .main-title {
        font-size: 16px;
    }

    .first-line,
    .second-line {
        font-size: 40px;
    }*/

    #who-am-i h2,
    #therapeutic-puppies h2,
    #our-services h2,
    #contact-us h2 {
        font-size: 30px;
    }

    .text-box {
        padding: 5px;
        width: 100vw;
    }

    .rectangle {
        width: 80vw; /* Adjust width for extra small screens */
        height: 30vh; /* Adjust height for extra small screens */
        margin: 20px auto; /* Center the rectangle horizontally with top and bottom margin */
        left: 0; /* Ensure it's centered */
    }

    .rectangle img {
        width: 100%; /* Ensure the image fills the rectangle */
        height: 100%; /* Ensure the image fills the rectangle */
        object-fit: cover; /* Maintain aspect ratio */
    }

    #therapeutic-puppies {
        margin-top: 20px; /* Further adjustment for extra small screens */
    }

    #therapeutic-puppies .rectangle {
        margin-top: 15px; /* Further adjustment for extra small screens */
    }

    #our-services {
        margin-top: 20px; /* Further adjustment for extra small screens */
    }

    #our-services .text-box-container {
        margin-top: 15px; /* Further adjustment for extra small screens */
    }

   #our-services .text-box {
        width: 80vw;
    }

    #our-services .text-box h2 {
        font-size: 6vw;
    }

    #individual-sessions .text-box,
    #group-sessions .text-box {
        width: 80vw;
    }

    #individual-sessions .text-box h2,
    #group-sessions .text-box h2 {
        font-size: 6vw;
    }

    #our-services .text-box p {
        margin-top: 10px; /* Add margin above the paragraph text */
    }

    #contact-us {
        margin-top: 20px; /* Further adjustment for extra small screens */
    }

    #contact-us #image-carousel {
        margin-top: 15px; /* Further adjustment for extra small screens */
    }

    .service-box img {
        width: 150px;
    }

    .form-group {
        width: 50vw;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    .contact-input {
        width: 50vw;
        max-width: 50vw;
    }

    textarea.contact-input {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }

    .contact-button {
        margin-left: auto;
        margin-right: auto;
        width: 50vw;
    }
}