/* General Styles */
body {
    font-family: 'Assistant', sans-serif; /* גופן כללי */
    background-color: #F5F6F3; /* צבע רקע */
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
	color:#DBEFE1;
}

.navbar {
    margin-top: 20px;
}

.navbar a {
    margin: 0 20px;
    text-decoration: none;
    color: #007bff;
}

.main-title {
    font-size: 48px; /* גודל כותרת ראשית */
    margin-top: 50px; /* מרווח מלמעלה */
	color:#1B7895;
}

.section {
    padding: 50px 0;
}

.logo {
    position: absolute; /* Positioning */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    /* Add your logo styles here */
}