/* General Styles */
body {
    font-family: 'Assistant', sans-serif; /* גופן כללי */
    background-color: #F5F6F3; /* צבע רקע */
}

.container { 
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

.navbar {
    margin-top: 20px;
}

.navbar a {
    margin: 0 20px;
    text-decoration: none;
    color: #007bff;
	color:#6D8B85;
}

.main-title {
    font-size: 48px; /* גודל כותרת ראשית */
    margin-top: 50px; /* מרווח מלמעלה */
	color:#1B7895;
}

.section {
    padding: 50px 0;
}

.logo {
    position: absolute; /* Positioning */
    top: 2px; /* Distance from the top */
    left: 2px; /* Distance from the left */
    width: 1.5px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 2px; /* Add space between logo and navigation links */
    margin-top: 1px; /* Adjust the top margin to position the logo */
}
